---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PORByStartDate from '@src/components/PORByStartDate.astro';

type POR = CollectionEntry<'pors'>;
const title = 'pors'
const description = "= position(s) of responsibility"

const pors = (await getCollection('pors')).sort((a: POR, b: POR) => b.data.startDate.valueOf() - a.data.startDate.valueOf());

---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">{description}</p>
    </div>
    <PORByStartDate pors={pors}/>
  </div>
</BaseLayout>
